# JSE Stock Quote Data

In [18]:
import pandas as pd
import os
import requests
from bs4 import BeautifulSoup

In [2]:
jse = pd.read_html('https://www.jamstockex.com/trading/trade-quotes/?market=combined-market')

Here we are scraping the Date of the data from the webpage and storing in variable trade_date.

In [20]:
# Define the target URL
url = "https://www.jamstockex.com/trading/trade-quotes/?market=combined-market"

# Send a GET request and get the content
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Parse the HTML content
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Find the element with the specified ID
    trade_date_element = soup.find(id="tradeDate")
    
    if trade_date_element:
        # Extract the text from the element
        trade_date_text = trade_date_element.text
        print(f'Trade date: {trade_date_text}')
        trade_date = trade_date_text
        print(trade_date)
    else:
        print("The target element with ID 'tradeDate' could not be found on the webpage.")
else:
    print(f"Error: Unable to fetch the webpage. Status code: {response.status_code}")

Trade date: May 4, 2023
May 4, 2023

In [3]:
len(jse)

8

In [4]:
jse[1]

,Index,Value,Volume,Change,Change (%)
0,JSE Index,333427.11,3816748,-3512.01,-1.04
1,Junior Market Index,3774.65,4043628,40.23,1.08
2,JSE Combined Index,345663.25,7860376,-2908.79,-0.83
3,JSE All Jamaican Composite Index,373017.41,3807107,-1994.64,-0.53
4,JSE Select Index,8081.50,375866,-38.52,-0.47
5,JSE USD Equities Index,224.87,122385,-0.47,-0.21
6,JSE Cross Listed Index,60.26,4615,-2.04,-3.27
7,JSE Financial Index,76.59,632756,-0.89,-1.15
8,JSE Manufacturing & Distribution Index,96.31,1645254,-1.01,-1.04

In [5]:
jse[2]

,Unnamed: 0,Symbol,Last Traded Price ($),Closing Price ($),Price Change ($),Closing Bid ($),Closing Ask ($),Volume,Today's Range ($),52 Week Range ($),Total Prev Yr Div ($),Total Current Yr Div ($)
0,NaN,138SL,5.39,5.06,-0.25,4.76,5.35,15297,4.75 - 5.39,4.00 - 8.00,NaN,NaN
1,NaN,AFS,25.95,25.84,-0.15,23.10,25.95,22,23.00 - 25.99,17.00 - 30.74,0.650,0.1000
2,NaN,AMG,2.67,2.67,0.01,2.67,2.97,5078,2.67 - 2.67,2.25 - 5.00,NaN,NaN
3,NaN,BIL,78.00,78.64,0.96,77.50,78.79,13807,77.50 - 78.79,74.20 - 115.05,3.026,NaN
4,NaN,BRG,8.30,8.29,-0.01,7.70,8.30,1000,8.29 - 8.30,7.50 - 12.40,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
91,NaN,TROPICAL,1.92,1.93,0.03,1.91,1.93,116704,1.91 - 1.94,1.80 - 3.24,0.020,0.0400
92,NaN,TTECH,2.49,2.49,0.22,2.25,2.49,238,2.49 - 2.49,2.00 - 4.00,NaN,NaN
93,NaN,VMIL,3.87,3.87,0.04,3.82,3.87,6831,3.87 - 3.87,3.00 - 6.30,NaN,NaN
94,NaN,WIG,0.79,0.79,0.00,0.78,0.80,1461736,0.78 - 0.79,0.49 - 0.83,NaN,0.0055
95,NaN,WISYNCO,16.90,16.86,-0.05,16.85,16.85,12250,16.85 - 16.99,16.00 - 26.90,0.400,0.2200

In [21]:
comb_market = jse[2]
comb_market = comb_market.drop('Unnamed: 0', axis=1)
fname = f'{trade_date} Combined Market.csv'
path = 'C:\\Users\\willi\\OneDrive\\Desktop\\Tech\\Python\\Python Automation\\Web Scraping\\Extract Tables From a Website\\'

comb_market.to_csv(os.path.join(path,fname), index= False)